html {
    height: 100%;
}

body {
    background-image: url("/images/default-background.jpeg");
    background-size: cover;
}

#tempBox {
    margin: 20px 5vw;
}

#header {
    background-color: rgba(156, 156, 156, 0.5);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 50px;
    border: 1px solid;
}

h1 {
    text-align: center;
    font-size: 5rem;
}
.temps {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
    font-size: 2.5rem;
}
input {
    font-size: 2rem;
}

button {
    font-size: 2rem;
}

#ftoc, #ctof {
    text-align: center;
    background-color: rgba(156, 156, 156, 0.5);
    padding: 20px;
    border-radius: 50px;
    width: 40%;
    height: 150px;
    border: 1px solid;
}

#errorBox {
    visibility: hidden;
    text-align: center;
    margin-top: 35px;
    background-color: rgba(156, 156, 156, 0.5);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid;
    color: red;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
}

@media (max-width: 590px) {
    .temps {
        flex-direction: column;
        align-items: center;
    }

    #ftoc, #ctof {
        width: 90%;
    }

    #ftoc {
        margin-top: 20px;
    }
}